.banner {
    margin-top: 50px;
  }
  
  .bannerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .bannerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
  }
  
  .bannerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
  }
  
  .bannerImg {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    object-fit: cover;
  }
  